.topicos{
    background: var(--azul-degrade);
    padding: 1em;
    text-align: center;
}

.topicos__titulo{
    text-transform: uppercase;
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__item{
    margin: 2em .5em;
}

.topicos__botao{
    background-color: var(--laranja);
    padding: 1em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}